
/* Fonts: Roboto and FontAwesome */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src:
		local('Roboto Thin'),
		local('Roboto-Thin'),
		url('/fonts/Roboto-Thin.eot') format('embedded-opentype'),
		url('/fonts/Roboto-Thin.woff2') format('woff2'),
		url('/fonts/Roboto-Thin.woff') format('woff'),
		url('/fonts/Roboto-Thin.ttf') format('truetype'),
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src:
		local('Roboto Light'),
		local('Roboto-Light'),
		url('/fonts/Roboto-Light.eot') format('embedded-opentype'),
		url('/fonts/Roboto-Light.woff2') format('woff2'),
		url('/fonts/Roboto-Light.woff') format('woff'),
		url('/fonts/Roboto-Light.ttf') format('truetype'),
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src:
		local('Roboto Normal'),
		local('Roboto-Normal'),
		url('/fonts/Roboto-Normal.eot') format('embedded-opentype'),
		url('/fonts/Roboto-Normal.woff2') format('woff2'),
		url('/fonts/Roboto-Normal.woff') format('woff'),
		url('/fonts/Roboto-Normal.ttf') format('truetype'),
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src:
		local('Roboto Medium'),
		local('Roboto-Medium'),
		url('/fonts/Roboto-Medium.eot') format('embedded-opentype'),
		url('/fonts/Roboto-Medium.woff2') format('woff2'),
		url('/fonts/Roboto-Medium.woff') format('woff'),
		url('/fonts/Roboto-Medium.ttf') format('truetype'),
}

@font-face {
	font-family: 'FontAwesome';
	font-weight: normal;
	font-style: normal;
	src:
		local('FontAwesome'),
		url('/fonts/fontawesome-webfont.eot') format('embedded-opentype'),
		url('/fonts/fontawesome-webfont.woff2') format('woff2'),
		url('/fonts/fontawesome-webfont.woff') format('woff'),
		url('/fonts/fontawesome-webfont.ttf') format('truetype'),
		url('/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
}


/* Clean up defaults */
* {
	box-sizing: border-box;
}
a, button {
	color: inherit;
	text-transform: inherit;
	text-decoration: none;
	text-align: inherit;
	cursor: pointer;
	border: none;
	outline: none;
}
template {
	display: none !important;
}

/* General purpose hidden class */
.hidden {
	display: none !important;
}


html {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	min-height: 100%;
}
body > header, 
body > main,
body > footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 0;
	padding: 0;
}
body > main {
	flex-grow: 1;
}
body > * > * {
	width: 1200px;
	max-width: 100%;
	padding-left: 5px;
	padding-right: 5px;
}

body > header {
	background: #5D5D5D;
	color: #F2F2F2;
}
body > header > nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	padding-left: 0px;
	padding-right: 0;
}
body > header > nav > * {
	display: block;
	flex-grow: 1;
	text-decoration: none;
	padding: 15px; /* TODO: Absorb this padding on the left and right */
	background-color: rgba(0,0,0,0);
	transition: background-color 0.5s;
}
body > header > nav > :hover {
	background-color: rgba(0,0,0,1);
}
body > header p {
	padding-left: 5px;
	padding-right: 5px;
}
body > header > p > button {
	min-width: 16vw;
	background: #FFFFFF;
	color: #5D5D5D;
	font-weight: 400;
	text-transform: uppercase;
	padding: 19.2px;
	border: none;
}


body > main {
	background: #FFFFFF;
	color: #757575;
}
body > main > article {
	padding: 0;
}
body > main > article > section {
	padding: 0;
}
body > main > article > section > * {
	padding-left: 5px;
	padding-right: 5px;
}

div.dilemmas {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-center;
	align-items: stretch;
	align-content: stretch;
	padding: 0;
}
div.dilemmas > * {
	display: block;
	margin: 5px;
	width: 350px;
	height: 263px;
	max-width: 100%;
}

section.dilemma > * {
	margin: 0;
	padding-top: 19.2px;
	padding-left: 19.2px;
	padding-right: 19.2px;
	padding-bottom: 0;
}
section.dilemma > header {
	margin: 0;
	border-radius: 2px 2px 0 0;
	padding-top: 19.2px;
	padding-bottom: 12.8px;
	padding-left: 19.2px;
	padding-right: 19.2px;
	background: #1B1862;
	color: #FFFFFF;
}
section.dilemma > header > h1 {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 19.2px;
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
section.dilemma > header > h1:before {
	font-family: 'FontAwesome';
	content: "\f0e3";
	padding-right: .5em;
}
section.dilemma > p {
	min-height: 3em;
	font-size: 14.4px;
	font-weight: 500;
	margin: 0;
	margin-bottom: 12.8px;
	height: 100px;
}
section.dilemma > ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style-type: none;

	font-size: 11.2px;
	font-weight: 300;
	margin: 0;
	padding-top: 0;
	height: 40px;
}
section.dilemma > ul > li {
	height: 1em;
	padding: 0;
	margin: 0;
}
section.dilemma > ul > li:before {
	content: "•";
	margin-left: .4em;
	margin-right: .4em;
}
section.dilemma > ul > li:first-child:before {
	content: "";
	margin: 0;
}

section.dilemma > footer {
	background: #F9F9F9;
	margin: 0;
	border-radius: 0 0 2px 2px;
	padding-top: 19.2px;
	padding-bottom: 19.2px;
	padding-left: 19.2px;
	padding-right: 19.2px;
	font-size: 11.2px;
	font-weight: 300;
}
section.dilemma > footer > :first-child:before {
	font-family: 'FontAwesome';
	content: "\f249";
	padding-right: .5em;
}

button.dilemma {
	border: none;
	border-radius: 2px;
	background: #CCCCCC;
	color: #FFFFFF;
	user-select: none;
	cursor: pointer;
}
button.dilemma > .icon {
	display: block;
	font-size: 90px;
	margin-top: -.3em;
	margin-bottom: .12em;
	height: 1em;
}
button.dilemma > .label {
	display: block;
	font-size: 9.6px;
	font-weight: 100;
	text-transform: uppercase;
}


article > section {
	border-top: solid 1px #B3B3B3;
	display: block;
	padding: 0;
	padding-left: 12.8px;
	padding-right: 12.8px;
	padding-bottom: 12.8px;
}
article > section:first-child {
	border-top: none;
}
article > section > * {
	display: block;
}
article > section > header > h1 {
	color: #B3B3B3;
	height: 51px;
	padding-bottom: 19.2px;
	padding-top: 19.2px;
	margin: 0;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
}

article > section > ul {
	padding: 0;
	list-style: none;
}

article > section.collapsable {
	position: relative;
	background-color: #F9F9F9;
}
article > section.collapsable > button.collapse {
	position: absolute;
	left: 50%;
	margin-left: -25px;
	width: 50px;
	height: 50px;
	color: #FFFFFF;
	background: #4A148C;
	border: none;
	border-radius: 50%;
	font-size: 40px;
	user-select: none;
	cursor: pointer;
	transition: box-shadow .25s ease-out;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
article > section.collapsable > button.collapse.top {
	top: -25px;
}
article > section.collapsable > button.collapse.bottom {
	bottom: -25px;
}
article > section.collapsable  > button.collapse:hover {
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

section.case {
	background-color: #FFFFFF;
	height: 200px;
}
section.case > * {
	margin: 0;
	overflow: hidden;
}
section.case > h2 {
	font-size: 15px;
}
section.case > h3 {
	font-size: 15px;
}


ul.principles,
ul.clauses {
	padding: 0;
	list-style: none;
}
li.clause {
	font-weight: 500;
}


input,
textarea {
	font-family: 'Roboto', sans-serif;
	font-size: 150%;
	color: #757575;
	outline: none;
}
input[type=text],
input[type=range],
textarea {
	width: 41.66vw;
	border: none;
	border-bottom: solid 2px #F2F2F2;
	margin-bottom: 1em;
	resize: none;
	overflow: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
}
input[type=text]::selection,
textarea::selection {
	color: #FFFFFF;
	background: #fcc26a;
}
input[type=text]:focus,
textarea:focus {
	border-bottom-color: #fcc26a;
}
input[type=text]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
}
input[type=text]::-ms-input-placeholder,
textarea::-ms-input-placeholder {
	color: #b3b3b3;
}
input[type=text]::-moz-input-placeholder,
textarea::-moz-input-placeholder {
	color: #b3b3b3;
}
input[type=text]::input-placeholder,
textarea::input-placeholder {
	color: #b3b3b3;
}

input[type=radio],
input[type=checkbox] {
	opacity: 0;
	width: 0;
	padding: 0;
	margin: 0;
}
input[type=radio] + span:before,
input[type=checkbox] + span:before {
	display: inline-block;
	content: " ";
	height: 11px;
	width: 11px;
	border: solid 2px #F2F2F2;
	border-radius: 50%;
	background-color: transparent;
	margin-right: 5px;
}
input[type=radio]:focus + span:before,
input[type=checkbox]:focus + span:before {
	border-color: #fcc26a;
}
input[type=radio]:checked + span:before,
input[type=checkbox]:checked + span:before {
	background-color: #fcc26a;
}
input[type=checkbox] + span:before {
	border-radius: 2px;
}
/* https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css */
input[type=range] {
	-webkit-appearance: none;
	height: 35px;
	padding: 0;
	border-bottom: none;
}
input[type=range]::-webkit-slider-runnable-track {
	background: #F2F2F2;
	margin-top: 5px;
	height: 5px;
	margin-bottom: 5px;
	border-radius: 2px;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	box-sizing: content-box;
	margin-top: -5px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #b3b3b3;
}
input[type=range]:focus::-webkit-slider-thumb {
	background: #fcc26a;
}
/* TODO:
* http://www.quirksmode.org/blog/archives/2015/11/styling_and_scr.html
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
*/

body > footer {
	background: #5D5D5D;
	color: #F2F2F2;
	font-size: 15px;
	margin-top: 2em;
}

/*
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
*/


.button {
	border-radius: 2px;
	user-select: none;
	cursor: pointer;
	transition: box-shadow .25s ease-out;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.button:hover {
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}


/* Vertical full-width layout  with some elements absorbing the size */
.vertical {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	overflow: hidden;
}
.vertical > * {
	flex-grow: 0;
	flex-shrink: 0;
	overflow: hidden;
}
.vertical > .adjust {
	flex-grow: 1;
	flex-shrink: 1;
}


/* Four column flex layout */
.flex-4 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	padding: 2.5px;
}
.flex-4 > * {
	margin: 2.5px; /* gives 5px spacing */
	max-width: 100%;
	width: 100%;
}
@media all and (min-width: 350px) {
	.flex-4 > * {
		width: 45.5vw;
	}
}
@media all and (min-width: 600px) {
	.flex-4 > * {
		width: 31vw;
	}
}
@media all and (min-width: 900px) {
	.flex-4 > * {
		width: 23.7vw; /* - 5px! */
	}
}
@media all and (min-width: 1215px) {
	.flex-4 > * {
		width: 293.75px; /* (1200 - 5 * 5 ) / 4 */
	}
}

/* Responsive font size */
.one-column {
	font-size: 15px;
}
.two-column {
	font-size: 15px;
	column-count: 1;
	-webkit-column-count: 1;
	-moz-column-count: 1;
}
@media all and (min-width: 429px) {
	.one-column {
		font-size: 3.5vw;
	}
	.two-column {
		font-size: 3.5vw;
	}
}
/*
@media all and (min-width: 600px) {
	.two-column {
		font-size: 15px;
		column-count: 2;
		-webkit-column-count: 2;
		-moz-column-count: 2;
	}
}
*/
@media all and (min-width: 857px) {
	.two-column {
		font-size: 1.75vw;
		column-count: 2;
		-webkit-column-count: 2;
		-moz-column-count: 2;
	}
}
@media all and (min-width: 1200px) {
	.one-column {
		font-size: 42px;
	}
	.two-column {
		font-size: 21px;
	}
}
